{
  "presets": [
    "next/babel"
  ],
  "env": {
    "production": {
      "plugins" : [

        ["styled-components", { "ssr": true, "displayName": false, "preprocess": false }]
      ]
    },
    "development": {
      "plugins" : [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
      ]
    },
    "alias": {
      "plugins": [
        [
          "module-resolver", { "alias": {"grommet-controls": "../grommet-controls/src/js" } }
        ]
      ]
    }
  }
}
